@import '../../mixins';
@import '../../variables';

.contact-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact-section-text {
  width: 30%;
}

.contact-section-text h2 {
  font-family: $title-subtitle;
  font-size: $subtitle-size;
  font-weight: $title-weight;
  color: white;
}

.contact-section-container a {
  padding: 0.7rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: $text;
  font-size: $text-size;
  font-weight: $text-weight;
  background-color: #5c00b3;
  color: white;
  transition: all 1s;
}

.contact-section-container a:hover {
  color: #5c00b3;
  background-color: white;
  transform: scale(1.3);
}

@include small() {
  .contact-section-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contact-section-text {
    width: 90%;
  }
}