/* Fonts */
$title-subtitle: 'Open Sans', -apple-system, sans-serif;
$text: 'Source Sans Pro', -apple-system, sans-serif;

/* Sizes */
$title-size: 2.5rem;
$subtitle-size: 1.7rem;
$text-size: 1.2rem;

/* Weight font */
$title-weight: 700;
$text-weight: 500;
